/* reset */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Comfortaa'; 
    
}


/* generics */
.bg-white{
    background-color: white;
}

body{
    background-color: #eee ;
}

.container{
    width: 70%;
    height: 800px;
    margin:0 auto;
    margin-top: 70px;
    
}

.blue{
    background-color: #47adf1;
    

}
.purple{
    background-color:#9c72e4 ;
}
.green{
    background-color: #64c0a9;
}

.orange{
    background-color: #f29e33;
}

/* Intestazione */
header{
    height:100px;
    line-height: 100px;
    vertical-align:middle;

}

#logo{
    display: inline-block;
    height: 60px;
     
    margin-left: 40px;

}

header > h1 {
    display: inline;
    line-height: 100px;
    
    font-size: 50px;
    font-weight: bold;

    
}

/* button section */
.button-style{
    padding:10px;
    border: 1px solid grey;
    border-radius:10px;
    margin-bottom: 10px;
     font-weight: bold;
}

.button-section{
    height: 50px;
    padding: 20px;
    margin-bottom: 20px;  
}


#add-section{
    color: grey;

}

/* list section */
.list{
    padding: 15px;
}
ul{
    padding-inline-start: 38px;
    font-size: 20px;
    font-style: normal;
    
}
li{
    line-height: 30px;
}

p {
    font-size: 35px;
    font-weight: bold;
}

.badge-style{
    font-size: 12px;
    padding: 5px; 
    border-radius: 10px;
    color: white;
    }