/* reset */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* generics */
.bg-white{
    background-color: white;
}

body{
    background-color: #eee ;
}

.container{
    width: 70%;
    height: 800px;
    margin:0 auto;
    margin-top: 70px;
    
}


/* Intestazione */
header{
    height:100px;
    line-height: 100px;
    vertical-align:middle;

}

#logo{
    display: inline-block;
    height: 60px;
     
    margin-left: 40px;

}

header > h1 {
    display: inline;
    line-height: 100px;
    font-family: 'Comfortaa', cursive;
    font-size: 50px;
    font-weight: bold;

    
}

/* button section */
.button-style{
    padding:10px;
    border: 1px solid grey;
    border-radius:10px;
    margin-bottom: 10px;
     font-weight: bold;
}

.button-section{
    height: 50px;
    padding: 20px;
    margin-bottom: 20px;  
}

#add-task{
    background-color: #47adf1;
    color: white;

}

#add-section{
    color: grey;

}

